/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/*
/storage/debugbar/
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css1.1/app.css
/public/js1.1/app.js
.idea
/nbproject/private/
/public/frontend
/public/assets/css/web.app.css
/public/assets/js/vue.app.js
/public/mix-manifest.json
/public/webfonts/*
/public/assets/js/web.app.js
/public/uploads/*
.env
